# API & Web
fastapi
uvicorn
streamlit
requests

# LangChain
langchain-core
langchain-qdrant
langchain-huggingface

# Vector DB
qdrant-client

# Embeddings
sentence-transformers

# Google Gemini
google-genai

# Cohere
cohere

# Observability
langsmith

# Utils
python-dotenv
pillow
fastembed
pydantic